---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- Display all publications together with numbering -->
{% assign pub_count = 0 %}
{% for post in site.publications reversed %}
  {% assign pub_count = pub_count | plus: 1 %}
  {% include archive-single.html pub_number=pub_count %}
{% endfor %}



